.status-bar {
	width: 100%;
	height: 46px;
	box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, .16);
	top: 0;
	position: absolute;
	//margin-bottom: 5px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	transition: all .9s ease;

	.status {
		//color: #607d8b;
		color: #607D8B !important;
		span {
			margin-left: 10px;
		}

		.btn-outline-light {
			padding: 0.225rem .75rem;
			i {
				margin-left: 5px;
			}
			&:hover {
				color: #17a2b8 !important;
			}
		}
	}

	.status.status-download {
		color: #607D8B !important;
	}
}

.btn-outline-light {
	color: #17a2b8;
}